mixin svg(args)
  svg(viewbox=args.viewbox)&attributes(attributes)
    use(xlink:href=`#${args.name}`)

mixin sections-item(args)
  a.sections__item(href="cases.html")
    .sections__item-bg(data-hover="#FFC486")
      .sections__item-bg-img
        img(src="assets/sections-teaser-01.jpg" alt="")
    .sections__item-category() Video 
    .sections__item-features() 
      p идеи рекламных кампаний
      p вирусный маркетинг
      p креативные макеты

mixin cases-slide(args)
  li.case-slider__item.swiper-slide(data-preview='assets/sections-teaser-01.jpg')
    a.case-slider__item-link
      .case-slider__item-bg()
        if args.image
          img(src="assets/sections-teaser-01.jpg" alt="")
        else
          video(src="assets/video.mp4" playsinline="playsinline" muted="muted") 
      .case-slider__item-content
        .case-slider__item-client= args.name
        .case-slider__item-description Платформа бренда и&nbsp;гайдлайны для&nbsp;многопрофильной группы компаний

mixin cases-small-teaser(args)
  a.case-small__item(href="")
    .case-small__item-bg
      //- img(src="assets/sections-teaser-01.jpg" alt="")
      video(src="assets/video.mp4", autoplay, muted, playsinline) 
    .case-small__item-content
      .case-small__item-client= args.name
      //- .case-small__item-description Платформа бренда и&nbsp;гайдлайны для&nbsp;многопрофильной группы компаний

mixin cases-teaser(args)
  a.cases__item(href="")
    .cases__item-bg
      img.cases__item-preview(src="assets/sections-teaser-01.jpg" alt="")
      //- video.cases__item-preview-hover(src="assets/bg.mp4")
      img.cases__item-preview-hover(src="assets/sections-teaser-02.jpg")
    .cases__item-content
      span.cases__item-client= args.name+', '
      span.cases__item-description Платформа бренда и&nbsp;гайдлайны для&nbsp;многопрофильной группы компаний

mixin awards-item(args)
  .festivals__awards-item
    .festivals__awards-item-title 
      span= args.title
      |
      = args.year
    .festivals__awards-item-image 
      img(src=`assets/${args.image}`, alt="")      

mixin form-row(args)
  .form__row.form__row-input.stacked(class=args.class)
    if args.textarea
      textarea(placeholder=args.placeholder, name=args.name, class=`form__textarea validate--${args.validate}`, oninput="this.parentNode.dataset.value = this.value")
    else
      input(type="text", placeholder=args.placeholder, name=args.name, class=`validate--${args.validate} form__${args.validate}`, required).form__input

    .form__note
    label.form__label(for=args.name)= args.title

//- data-inputmask=args.inputmask,

mixin burger()
  .header__burger 
    a.header__burger-link(href="#" data-sal="slide-left" data-sal-delay="400" , data-sal-once="true")
      span
    .header__dropdown()
      ul.header__dropdown-nav 
        li.header__dropdown-nav-item: a(href="cases.html") Кейсы
        li.header__dropdown-nav-item: a(href="team.html") Команда
        li.header__dropdown-nav-item: a(href="contacts.html") Контакты
      ul.header__dropdown-bottom
        li.header__dropdown-bottom-item: a(href="") facebook
        li.header__dropdown-bottom-item: a(href="") vk
        li.header__dropdown-bottom-item: a(href="") instagram
        li.header__dropdown-bottom-item: a(href="") behance

mixin festivals()
  section.festivals 
    .festivals__grid
      .festivals__logo
        .header__logo-link(data-sal="zoom-mini-in" data-sal-delay="200" data-sal-once="true")
          img(src="assets/festivals.svg" alt="EnterAgency")
      .festivals__title Участвуем в&nbsp;рекламных фестивалях
    .festivals__grid-bottom
      div(data-sal="slide-up" data-sal-delay="400" data-sal-once="true").festivals__description Участвуем редко, но&nbsp;метко.
        br
        | Получаем награды, радуемся и&nbsp;двигаемся дальше
      .festivals__awards
        +awards-item({title: 'Red Apple', year: '2020', image: 'redapple.jpg'})
        +awards-item({title: 'White Square', year: '2020', image: 'festival-white.jpg'})
        +awards-item({title: 'Идея', year: '2020', image: 'festival-idea.jpg'})

mixin header-bg()
  .header__bg
    //- video(playsinline="playsinline" muted="muted" autoplay="autoplay" loop="loop" src="./assets/bg.mp4") 
    //- img(src="assets/bg.jpg" alt="")
    .header__bg-balls 
      .header__bg-ball.header__bg-ball-1: img(src="assets/ball-01.png" alt="")
      .header__bg-ball.header__bg-ball-2: img(src="assets/ball-02.png" alt="")
      .header__bg-ball.header__bg-ball-3: img(src="assets/ball-03.png" alt="")

mixin header-logo(args)
  .header__logo
    a(href="index.html", class=args.class, data-sal="zoom-mini-in" data-sal-delay="200" data-sal-once="true").header__logo-link
      img(src=`assets/${args.logo}`, alt="EnterAgency").header__logo-image
      img(src=`assets/${args.hover}`, alt="EnterAgency").header__logo-image-hover
