mixin svg(args)
    svg(viewbox=args.viewbox)&attributes(attributes)
        use(xlink:href=`#${args.name}`)

mixin sections-item(args)
  a.sections__item(href="cases.html")
    .sections__item-bg(data-hover="#FFC486")
      .sections__item-bg-img 
        img(src="assets/sections-teaser-01.jpg", alt="")
    .sections__item-category Video 
    .sections__item-features 
      p идеи рекламных кампаний
      p вирусный маркетинг
      p креативные макеты

mixin cases-slide(args)
  li.case-slider__item.swiper-slide(data-preview='assets/sections-teaser-01.jpg')
    a.case-slider__item-link
      .case-slider__item-bg
        //- img(src="assets/sections-teaser-01.jpg", alt="")
        video(src="assets/bg.mp4", loop="loop", playsinline="playsinline", muted="muted") 
      .case-slider__item-content
        .case-slider__item-client= args.name
        .case-slider__item-description Платформа бренда и&nbsp;гайдлайны для&nbsp;многопрофильной группы компаний

mixin cases-small-teaser(args)
  a.case-small__item(href="")
    .case-small__item-bg
      img(src="assets/sections-teaser-01.jpg", alt="")
    .case-small__item-content
      .case-small__item-client= args.name
      //- .case-small__item-description Платформа бренда и&nbsp;гайдлайны для&nbsp;многопрофильной группы компаний

mixin cases-teaser(args)
  a.cases__item(href="")
    .cases__item-bg
      img(src="assets/sections-teaser-01.jpg", alt="")
      video(src="assets/bg.mp4")
    .cases__item-content
      span.cases__item-client= args.name+', '
      span.cases__item-description Платформа бренда и&nbsp;гайдлайны для&nbsp;многопрофильной группы компаний

mixin awards-item(args)
  .festivals__awards-item
    .festivals__awards-item-title 
      span= args.title
      |
      = args.year
    .festivals__awards-item-image 
      img(src=`assets/${args.image}`, alt="")      

mixin form-row(args)
  .form__row.form__row-input.stacked(class=args.class)
    if args.textarea
      textarea(placeholder=args.placeholder, name=args.name, class=`form__textarea validate--${args.validate}`, oninput="this.parentNode.dataset.value = this.value")
    else
      input(type="text", placeholder=args.placeholder, name=args.name, class=`validate--${args.validate}`, data-inputmask=args.inputmask, required).form__input
    .form__note
    label.form__label(for=args.name)= args.title

mixin burger()
  .header__burger 
    a.header__burger-link(href="#")
      // type="button"
      span
    .header__dropdown()
      // uk-dropdown="mode: click; pos: bottom-right; animation: uk-animation-slide-top-small; duration: 1000"
      ul.header__dropdown-nav 
        li.header__dropdown-nav-item: a(href="cases.html") Кейсы
        li.header__dropdown-nav-item: a(href="team.html") Команда
        li.header__dropdown-nav-item: a(href="contacts.html") Контакты
      ul.header__dropdown-bottom
        li.header__dropdown-bottom-item: a(href="") facebook
        li.header__dropdown-bottom-item: a(href="") vk
        li.header__dropdown-bottom-item: a(href="") instagram
        li.header__dropdown-bottom-item: a(href="") behance

mixin festivals()
  section.festivals 
    .festivals__grid.uk-grid-collapse(uk-grid)
      .festivals__logo(class="uk-width-1-4@m")
          .header__logo-link
            img(src="assets/festivals.svg", alt="EnterAgency")
      .festivals__title(class="uk-width-1-2@m") Участвуем в&nbsp;рекламных фестивалях
    .festivals__grid-bottom
      .festivals__description Участвуем редко, но&nbsp;метко.
        br
        | Получаем награды, радуемся и&nbsp;двигаемся дальше
      .festivals__awards
        +awards-item({title: 'Red Apple', year: '2020', image: 'redapple.jpg'})
        +awards-item({title: 'White Square', year: '2020', image: 'festival-white.jpg'})
        +awards-item({title: 'Идея', year: '2020', image: 'festival-idea.jpg'})

mixin header-bg()
  .header__bg
    video(playsinline="playsinline",muted="muted", autoplay="autoplay", loop="loop", src="./assets/bg.mp4") 
    //- img(src="assets/bg.jpg", alt="")
    //- .header__bg-balls 
      .header__bg-ball.header__bg-ball-1
      .header__bg-ball.header__bg-ball-2
      .header__bg-ball.header__bg-ball-3
